.savedlogfiles-parent{
    background-color: #93CFF1;
}
.savedlogfile{
    display: flex;
}
.mavlink-status2{
    background-color: transparent;
}
.groundstation2{
    width: 100%;
    margin-top: 3rem;
    height: 3rem;
}

.groundstation2:hover{
    background-color: #93CFF1;
}
.savedlogfiles2{
    width: 100%;
    background-color: #93CFF1;
}
.mavlink-status2{
    width: 100%;
}
.mavlink-status2:hover{
    background-color: #93CFF1;
}
#saved{
    color: black;
}

.savedlogfiles-child{
    border: 1px solid rebeccapurple;
    background-color: #004C82;
    height: 100%;
    width: 60%;
    margin: 3rem;
    padding: 30px;
    justify-items: center;
    align-items: center;
    color: white;
}

.files{
    height: 50vh;
    background-color: rgb(255, 255, 255);
}

.check-btns{
    margin-top: 1rem;
    display: flex;
    /* justify-content: space-evenly; */
    position: relative;
    gap:10px;
    justify-content: center;
    

}

.check-btn{
    background-color: #f3f7fe;
    color: #3b82f6;
    width: auto;
    height: 2rem;
    transition: .3s;
    border-radius: 8px;
    border: none;
}

.check-btn:hover {
    background-color: #3b82f6;
    box-shadow: 0 0 0 5px #3b83f65f;
    color: #fff;
  }
  

